<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" action="/aws?_method=POST" enctype="multipart/form-data">
                <label for="file-chooser">Selectionnez votre fichier :</label>
                <input type="file" id="file-chooser" name="file-chooser"><br><br>

                <label for="titre" type="text">Titre :</label>
                <input type="text" name="titre" id="titre" placeholder="Titre"><br>
                <label for="commentaire" type="text">Commentaire :</label>
                <input type="text" name="commentaire" id="commentaire" placeholder="Votre commentaire ici">
                <label for="Public">Public :</label>
                <input type="radio" name="Public" value="Non" checked> Non<br>
                <input type="radio" name="Public" value="Oui"> Oui<br><br>

                <label for="upload-button"> Télécharger le fichier</label>
                <input type="submit" id="upload-button" name="upload-button">
            </form>
        <br><br><br>
        
          {{#if data_file}}
          <table>
            {{#each data_file}}
            <tr id="line_cell_{{@index}}">
              <td><h3 class="{{selectValueTitre}}" type="titre">{{this.name}}</h3></td>
              <td><a href="{{this.link}}" class="{{selectValueNom}}" type="nom">{{this.title}}</a></td>
              <td> <p class="{{selectValueDate}}" type="date">{{this.displayDate}}</p></td>
              <td> <p class="{{selectValueDescription}}" type="commentaire">{{this.description}}</p></td>
              <td> <p class="{{selectValuePublic}}" type="public ou privé">
                {{#if this.public_access}}
                  oui
                {{else}}
                  non
                {{/if}}
                </p>
              </td>
              <td class="myActions">
                <label for="brows" class="{{selectValueBrows}}" style="display: none">Upbrowser</label>
                <form method="GET" action="/aws_upbrowser" target="_blank">
                  <input type="submit" id="brows" class="{{selectValueBrows}}" name="id" value="{{this.id}}">
                </form>
                
                <label for="ocr" class="{{selectValueOCR}}" style="display: none">OCR</label>
                <form method="GET" action="/OCR">
                  <input type="submit" id="ocr" class="{{selectValueOCR}}" name="id" value="{{this.id}}">
                </form>

                <label for="edit" class="{{selectValueEdit}}" style="display: none">UpEdit</label>
                <form method="GET" action="/upedit">
                  <input type="submit" id="edit" class="{{selectValueEdit}}" name="id" value="{{this.id}}">
                </form>

                <label for="editTable" class ="{{selectValueHeadset}}" style="display: none">Modifier les informations du fichiers</label>
                <input type="button" id="headset" class ="{{selectValueHeadset}}" name="editTable" value="{{this.id}}" onclick="showEdit(line_cell_{{@index}}, {{this.id}})">

                <label for="supp" class ="{{selectValueDelete}}" style="display: none">Supprimer</label>
                <input type="button" id="supp" class ="{{selectValueDelete}}" name="deleteLine" value="{{this.id}}" onClick="aws_deleteLine(line_cell_{{@index}}, {{this.id}})">
              </td>
            </tr>


            <tr id="line_cell_{{@index}}_edit" style="display: none">
              <td>
                <h3>
                  <label for="titre" style="display: none">Modifier le titre :</label>
                  <input type="text" name="titre" value="{{this.name}}" style="width: 95%">
                </h3>
              </td>
              <td><p type="nom">{{this.title}}</p></td>
              <td><p type="date">{{this.displayDate}}</p></td>
              <td>
                <label for="commentaire" style="display: none">Modifier le commentaire :</label>
                <input type="text" name="commentaire" value="{{this.description}}" style="width: 95%">
              </td>
              <td>
                <form>
                  <label for="Public_edit_{{@index}}" style="display: none">Fichier public ou privé ?</label>
                  <input type="radio" name="Public_edit_{{@index}}" value="Public"> Public<br>
                  <input type="radio" name="Public_edit_{{@index}}" value="Privé"> Privé<br>
                </form>
              </td>
              <td class="myActions">
                <label for="validation" style="display: none">Valider la modification</label>
                <input type="button" id="accept" name="validation" onClick="editLine({{@index}}, line_cell_{{@index}}, {{this.id}})">
                
                <label for="return" style="display: none">Annuler la modification</label>
                <input type="button" id="supp" name="return" onClick="returnLine(line_cell_{{@index}})">
              </td>
            </tr>
            {{/each}}
          </table>
          {{/if}}


        </div>
    </div>
</div>

<script src="/js/AJAXhome.js"></script>
